# Title?
### Author: Emmanuel Paalam
### Date: 7/21/2025

Note: The following reserve codes are used throughout the ECB. This
description is added to the first variable of each section to help
users understand the meaning of each reserve code.

- -1: "Don't know" represents respondents who indicated that they didn't
know the answer to the question.

- -2: "Refused" represents respondents who indicated that they refused
to answer the question

- -3: "Item legitimate skip/NA" is filled for questions that are not
administered based on routing logic; i.e., the items are not
applicable based on responses to prior questions.

- -4: "Nonrespondent" is filled for all variables across the entire
questionnaire when a sample member did not respond to the
questionnaire.

- -5: "Out of range" represents questionnaire respondents who
reported values that are out of range.

- -6: "Multiple response" represents hard copy questionnaire respondents
who reported more than one response for an item that requires
only one response.

- -7: "Partial interview-breakoff" is filled for questions that are not
answered because the respondent does not wish to continue the
interview or they have run out of time. This also includes particular
items that are not included on an abbreviated version questionnaire.

- -8: "Survey component legitimate skip/NA" is filled for all items
within a survey component for sample members who were not administered
that component by design for one of the following reasons: 1) the
component was not administered based on their status (e.g., transfer
students did not receive certain items on the in-school survey), 2)
the sample member was not a part of the study at the time of
administration (e.g., first follow-up freshened sample members were by
definition not eligible for the base-year survey), or 3) the sample
member was not capable of completing the survey component (e.g.,
students who were questionnaire-ineligible due to a language barrier
or disability at the time of the survey).

- -9: "Missing" is filled for questions that are not answered when the
routing suggests that a response should have been provided.

## Call MySQL table into environment

In [2]:
import pandas as pd
from sqlalchemy import create_engine

# --- 1. Database Connection Details ---
# These should be the same as in your cleaning notebook.
db_config = {
    'user': 'root',
    'password': 'orbit4*papers', # Replace with your password
    'host': '127.0.0.1', # This means your local machine
}

db_name = 'els2002_selected_columns'
table_name = 'els_2002_data'

# --- 2. Create the Connection Engine ---
# This engine is what allows pandas to communicate with your database.
try:
    engine_string = f"mysql+mysqlconnector://{db_config['user']}:{db_config['password']}@{db_config['host']}/{db_name}"
    engine = create_engine(engine_string)
    print("✅ Connection engine created successfully.")

except Exception as e:
    print(f"❌ Failed to create engine: {e}")

# --- 3. Write and Execute the SQL Query ---
# This is a simple query to select everything from your table.
query = f"SELECT * FROM {table_name}"

try:
    # Use pandas to execute the query and load the result into a DataFrame
    df = pd.read_sql_query(query, engine)
    
    print(f"✅ Data successfully loaded from '{table_name}' into a DataFrame.")
    print("DataFrame shape:", df.shape)
    
except Exception as e:
    print(f"❌ Failed to load data from SQL: {e}")

# --- 4. You're Ready to Analyze! ---
# You can now work with your new DataFrame.
# For example, display the first few rows:
df.head()

✅ Connection engine created successfully.
✅ Data successfully loaded from 'els_2002_data' into a DataFrame.
DataFrame shape: (14654, 42)

,STU_ID,F1EVERDO,F1PNLWT,BYTXRSTD,BYTXMSTD,BYSCHPRG,BYGRDRPT,BYS33A,BYS33D,BYS33E,...,BYS90L,BYS91,BYINCOME,F1MOTHED,F1FATHED,F1OCCUM,F1OCCUF,BYFCOMP,F1FCOMP,BYHOMLNG
0,101101,0,155.6312,59.53,52.11,2,0,0,0,0,...,3,2,10,1,5,8,6,3,3,1
1,101102,0,25.4906,56.70,57.65,2,0,0,0,0,...,3,2,11,5,5,0,9,1,1,4
2,101104,0,725.6926,64.46,66.44,2,0,0,0,0,...,2,1,10,2,2,5,5,1,1,1
3,101105,0,205.1919,48.69,44.68,2,98,0,1,1,...,3,1,2,2,2,4,6,5,5,1
4,101106,0,155.6312,33.53,40.57,3,0,0,1,1,...,2,1,6,1,1,8,5,1,1,2

## Post-subset + pre-analysis processing

Alright, so at this point we've brought the table made off of the 42 selected variables from the raw ELS:2002 study (`pretable_clean.ipynv`) back in.

In [3]:
import numpy as np
df_withnan = df.applymap(lambda x: np.nan if x in [-1, -2, -3, -4, -5, -6, -7, -8, -9] else x)
df_withnan.isna().sum()

C:\Users\epaal\AppData\Local\Temp\ipykernel_7552\2871671137.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_withnan = df.applymap(lambda x: np.nan if x in [-1, -2, -3, -4, -5, -6, -7, -8, -9] else x)

STU_ID         0
F1EVERDO       0
F1PNLWT        0
BYTXRSTD       0
BYTXMSTD       0
BYSCHPRG       0
BYGRDRPT       0
BYS33A      1422
BYS33D      1663
BYS33E      1694
BYS33H      1453
BYHMWRK     1182
BYXTRACU     894
BYS24A      1273
BYS24B      1354
BYS24C      1424
BYS38C      1461
F1S31       1271
BYSTEXP     1948
F1STEXP        0
BYSES1       700
BYS89A      4127
BYS89I      4489
BYS89E      4350
BYS89N      4487
BYS20A      1264
BYS20B      1323
BYS20J      1406
BYS20K      1348
BYS90B      4760
BYS90D      4843
BYS90F      4853
BYS90L      4954
BYS91       5328
BYINCOME       0
F1MOTHED       0
F1FATHED       0
F1OCCUM        0
F1OCCUF        0
BYFCOMP      648
F1FCOMP        0
BYHOMLNG     980
dtype: int64